@{
    ViewData["Title"] = "Privacy";
}

<h1 style="text-align: center;">About Us</h1>

<p style="text-align: center;">
    SA Online Mart aims to promote local South African products by providing a seamless shopping experience for customers
    nationwide. SA Online Mart supports South African artisans and small businesses from across the country, showcasing a variety of products, from
    handcrafted jewelry to locally-produced clothing. Enjoy your experience as you browse the unique wares provided by creative South African minds.
</p>

<hr />

<h3 style="text-align: center;">Contact Us</h3>

<p style="text-align: center;">
    We wish for your experience at SA Online Mart to be as positive as possible. A key aspect of a truly positive
    experience is the ability to contact us easily, whenever you need to.
</p>
<p style="text-align: center;">
    <strong>Call Centre Hours:</strong> Monday to Friday, 07:00 to 17:00<br />
    <strong>Contact Number:</strong> 0645678324<br />
    <strong>Contact Email:</strong> saonlinemart@gmail.com
</p>

<hr />

<h3 style="text-align: center;">Privacy Policy</h3>

<p style="text-align: left;"><strong>What information do we gather?</strong></p>
<p style="text-align: left;">
    When you order from our website, we may collect your name, email address, phone number, and location.
</p>
<p style="text-align: left;"><strong>Why do we gather this information?</strong></p>
<p style="text-align: left;">
    At SA Online Mart, we strive to provide customers with high-quality goods. We gather your information
    to allow us to process your orders, to allow contact with you regarding your orders, and to provide an
    overall enhanced shopping experience.
</p>
<p style="text-align: left;"><strong>How do we use gathered information?</strong></p>
<p style="text-align: left;">
    We use the gathered information to process orders and to enhance your shopping experience. We do not share
    your information with any other third parties aside from the seller(s) of the ordered product(s). Should you have any queries about any of the above information,
    please contact us.
</p>

<hr />

<h3 style="text-align: center;">Terms and Conditions</h3>

<p style="text-align: left;"><strong>General</strong></p>
<p style="text-align: left;">
    SA Online Mart requires internet access and any software required for email and web usage. SA Online Mart reserves
    the right to reject any order without providing reasoning. In the event of a rejection, any orders will be
    canceled and refunded.
</p>

<p style="text-align: left;"><strong>Customer Information</strong></p>
<p style="text-align: left;">
    SA Online Mart will require valid information for when you place your order for the purpose of communication.
    We will not share your information with any third parties aside from the seller(s) of the ordered product(s). It is your responsibility to provide us with accurate
    information on your order. We will not be held responsible for a failed delivery if the correct address or contact
    information are not received.
</p>

<p style="text-align: left;"><strong>Refunds</strong></p>
<p style="text-align: left;">
    All customers are eligible for a refund in the event of a failed delivery, canceled order, or damaged product(s).
</p>

<p style="text-align: left;"><strong>Links</strong></p>
<p style="text-align: left;">
    This site may contain links to other websites operated by third parties. SA Online Mart does not claim any ownership
    or control over such websites. SA Online Mart does not automatically endorse or approve of those websites, nor does
    it imply any association with their operators.
</p>

<p style="text-align: left;"><strong>Notices</strong></p>
<p style="text-align: left;">
    If you are dissatisfied with any portion of this website, or with any of the above terms of use, your sole remedy
    is to discontinue your use of this website.
</p>

<hr />
